/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconProject {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconProject .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* -----------------
	Sub menu
   ----------------- */
	/* Projects */
#navi-main-list-project li.item a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -446px;
}

	/* Search */
#navi-main-list-search li.itemSearchTask a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px 6px;
}
#navi-main-list-search li.itemSearchProject a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -446px;
}



/* ------------------------
	Quick create wizard popUp styling
   ------------------------ */
#quickcreate.dialog.project div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -355px;
}

#quickcreate.dialog.task div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 2px;
}



/* -----------------------------------------------
	Quick create (headlet) mode selector entries
   ----------------------------------------------- */
#todoyuheadletquickcreate li.itemProjectProject a {
	background:url(../img/icons.png) no-repeat 5px -388px;
}

#todoyuheadletquickcreate li.itemProjectTask a {
	background:url(../img/icons.png) no-repeat 5px -58px;
}



/* -----------------
	Search
   ----------------- */
#todoyusearchheadletquicksearch-modes li.searchmodeTask a {
	background:url(../img/icons.png) no-repeat 3px 3px !important;
}
#todoyusearchheadletquicksearch form.searchmodeTask a.mode {
	background:url(../img/icons.png) no-repeat 3px -23px !important;
}
#todoyusearchheadletquicksearch-modes li.searchmodeProject a {
	background:url(../img/icons.png) no-repeat 3px -447px !important;
}
#todoyusearchheadletquicksearch form.searchmodeProject a.mode {
	background:url(../img/icons.png) no-repeat 1px -614px !important;
}

/* -----------------------------------------------
	Search Listing of Projects
   ----------------------------------------------- */
.projects {}
.projectlist .headerLine .fulltitle {}

.projectlist .headerLine .projectNumber {
	float:right;
	padding:0 10px;
}


.project h3.projectheader {
	background-color:transparent;
	border-bottom:1px solid #DDDDDD;
	clear:both;
	cursor:pointer;
	display:block;
	height:14px !important;
	padding:4px 0;

}

.project .expanded h3 {
	border-bottom:none;
}

.projects .project h3 .headLabel {
	border-left-style:solid;
	border-left-width:8px; 
	display:block;
	float:left;
	height:auto !important;
	margin:-4px 0 -4px 0;
	min-height:14px;
	padding:4px 0 4px 17px;

}

.projects .project h3 .projectName{
	width:570px;
	float:left;
}

.projects .project h3 .projectNumber {
	padding:0 10px;
	float:right;
}

.projects .project.expanded h3 {
	background-color:#e2e2e2;
	border-bottom:none;
	font-weight:bold;
}



/* --------------------------------------
	Task and project properties
   ------------------------------------- */

.task .properties dt {
	float:left;
	width:100px;
	font-weight:bold;
	padding:2px 0;
}

.task .properties dd {
	float:left;
	width:180px;
	padding:2px 0;
}

.task .presets dt {
	float:left;
	width:310px;
	margin-right:14px;
	font-weight:bold;
}

.task .presets dd {
	float:left;
	width:180px;
}



.details .description a {
	text-decoration:underline !important;
}
.details .description a:hover {
	background-color:#e2e2e2;
}

.data ul {
	margin:0;
	padding:0 0 5px 14px;
}
.data ul li {
	padding-left:5px;
}
.data ol {
	margin:0 0 0 5px;
	padding:0 0 5px 14px;
}
.data ul  {
	list-style:disc;
}
.data ul.ulList {
	padding:0;
}

.data ul.assignedPersons li span {
	padding-left:20px;
}



#project-tabs {
	width:100%;
	overflow:hidden;
	margin-top:-20px;
}

	/* No project selected */
.noProjectSelected {
	padding:10px;
}

	.noProjectSelected .option {
		padding:10px;
		background-color:#EEE;
		border:1px solid #AAA;
		margin-bottom:10px;
		font-size:14px;
		cursor:pointer;
	}

	.noProjectSelected p.message {
		padding:10px;
	}



/* --------------------------------------
	Project tree tabs
   ------------------------------------- */
#project-tabs li span.icon {
	background:url(../img/icons.png) no-repeat 0 -445px;
}



/* --------------------------------------
	Search tabs
   ------------------------------------- */
#search-tab-task span.icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}

#search-tab-project span.icon {
	background:url(../img/icons.png) no-repeat 0 -350px;
}



/* --------------------------------------
	Tab content
   ------------------------------------- */
.task .tabContent .tabBlock,
.task .tabContent .tabBlock {
	background:none;
}
	.task .tabContent .tabBlock .fForm fieldset,
	.task .tabContent .tabBlock .fForm fieldset {
		padding-top:15px;
	}
	.task .tabContent .fForm fieldset.buttons {
		padding-top:0;
	}
	.task .tabContent .tabBlock .fForm fieldset legend,
	.task .tabContent .tabBlock .fForm fieldset legend {
		display:none;
	}



/* -------------------------------------
	Extconf and task preset set form
   ------------------------------------- */
fieldset.defaultsforlimited {
	margin-top:10px;
	border-top:1px solid #e3e3e3;
	padding-top:10px;
}



/* -------------------------------------
	Status colors for task and project
   ------------------------------------- */
	/* planning */
.bcStatus1 {
	border-color:#7f007f;
}

.bgStatus1 {
	background-color:#7f007f;
}

	/* open */
.bcStatus2 {
	border-color:#FF0000;
}

.bgStatus2 {
	background-color:#FF0000;
}

	/* progress */
.bcStatus3 {
	border-color:#FFAC00;
}

.bgStatus3 {
	background-color:#FFAC00;
}

	/* confirm */
.bcStatus4 {
	border-color:#FFFC00;
}

.bgStatus4 {
	background-color:#FFFC00;
}

	/* done */
.bcStatus5 {
	border-color:#77DC00;
}

.bgStatus5 {
	background-color:#77DC00;
}

	/* accepted */
.bcStatus6 {
	border-color:green;
}

.bgStatus6 {
	background-color:green;
}

	/* rejected */
.bcStatus7 {
	border-color:#A60000;
}

.bgStatus7 {
	background-color:#A60000;
}

	/* cleared */
.bcStatus8 {
	border-color:#DBDBDB;
}

.bgStatus8 {
	background-color:#DBDBDB;
}

	/* warranty */
.bcStatus9 {
	border-color:#6085DD;
}

.bgStatus9 {
	background-color:#6085DD;
}

	/* customer */
.bcStatus10 {
	border-color:pink;
}

.bgStatus10 {
	background-color:pink;
}


/* -------------------------
	Project details taskpreset
	------------------------*/

.project .infoBox.presets h4 {
	cursor:pointer;
}

.project .infoBox.presets h4.closed {
	background:white url(../img/icons.png) no-repeat right -775px;
}

.project .infoBox.presets h4.open {
	background:white url(../img/icons.png) no-repeat right -745px;
}