@import "../../../../core/config/theme.scss";



/* --------------
	Header
   -------------- */
#projects h1.headerLine {
	cursor:pointer;
}

h1.headerLine span.projectIcons {
	float:right;
	margin-top:4px;
}



/* ----------------
	Task tree
   ---------------- */

	/* lost tasks */
.tasks .lostTasks {
	margin-top:20px;
	margin-bottom:30px;
}

.tasks .lostTasks .subtaskTrigger {
	background:none !important;
	height:1px;
}

.tasks .lostTasks h2 {
	margin-bottom:1px;
	padding:5px 5px 5px 20px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:normal;
	letter-spacing:0.1em;
	background-color:$colorNeutral01;
}



/* --------------
	Project
   -------------- */
.statusPlanning .data .content {
	background-color:$white;
}

	/* Details */
.project .projectstatus {
	position:absolute;
	top:0;
	height:27px;
	border-left-width:8px;
	border-left-style:solid;
}

	.project .description a {
		text-decoration:underline;
	}


	/* Assigned persons */
	.project table.assignedPersons th.name {
		width:200px;
	}
	.project table.assignedPersons th.company {
		width:240px;
	}
	.project table.assignedPersons th.role {
		width:154px;
	}


.formProject fieldset.basic {
	padding-top:15px;
}



/* ------------------------------------
	Project search modifications
   ------------------------------------ */
#todoyu-search .project .additionalStuff {
	display:none;
}



/* ------------------------------------
	Asset form
   ------------------------------------ */
.assetForm .fForm {
	padding:0;
	background:none;
}
.assetForm .fForm fieldset {
	margin-bottom:0;
}
.assetForm .fForm fieldset legend {
	border-color:$colorCorporate02;
}



/* ----------------------
	Project Tabs
   ---------------------- */
#content .projectTabs .tabs {
	top:0;
	left:0;
	width:auto;
	margin:0 10px;
}

.project .projectTabs {
	margin-top:10px;
}

.project .projectTabs .tabs li {
	background-color:$colorCorporate01 !important;
}

.project .projectTabs .tabs li:hover,
.project .projectTabs .tabs li.active {
	background-color:$colorCorporate02 !important;
}

/* project tabs content */
.project .tabContent {
	background-color:$colorCorporate02;
}

.project .tabContent .tab {

}

.project .tabContent .tabBlock {
	position:relative;
	background:$white;
}
.project .tabContent .tab {
	padding:5px;
	background:$white;
}
.project .tabContent .tabBlock .toggle {
	display:block;
	position:absolute;
	right:0;
	top:0;
	width:25px;
	height:30px;
	background:$colorCorporate04 url(../../../../core/asset/img/toggle.png) no-repeat 0 -65px;
}

/* ----------------------
	Project Details
   ---------------------- */
$projectDetailBorder:1px solid $colorNeutral03;

.project {
	& .projectDetails {
		position: relative;
		border: $projectDetailBorder;
		border-width: 0 1px 1px 1px;
		margin-bottom: 30px;
		padding-bottom: 10px;

		& .infoBox {
			border: $projectDetailBorder;
			margin: 5px;
			border-radius: 0 10px 0 0;

			& h4 {
				border-bottom: $projectDetailBorder;
				border-radius: 0 10px 0 0;
			}

			& .content {
				padding: 0;
			}

			&.description .content {
				padding: 3px;
			}

		}
	}

	& .infoBoxOuter {
		height: 100%;
		padding: 0;
		background-color: $white;
	}

	& .projectDetailsContent {
		float: left;
		padding: 3px;
		width: 554px;
		max-width: 554px;
	}

	& .projectDetailsTabs {
		float: left;
		width: 100px;

		& .gap {
			height: 30px;
			border: $projectDetailBorder;
			border-width: 1px 1px 1px 0;
			border-radius: 0 3px 3px 0;
		}

		& .icon {
			height: 32px;
			width: 32px;
			float: none;
			margin-left: 34px;
		}

		& .menu {
			height: 49px;

			& .icon {
				background:url(../img/projectheader.png) no-repeat 0px -248px;
			}

			& .label {
				padding-left: 6px;
			}
		}

		& .tabs {

			& .projectDetailsTab {
				border: $projectDetailBorder;
				border-radius: 0 3px 3px 0;
				border-width: 0 1px 1px 0;
				height: 42px;
				background-color: $colorNeutral01;
				cursor: pointer;
				padding: 4px 0;

				&.active {
					border-width: 0 0 0 0;
					height: 42px;
					background-color: $white;
					border-radius: 0;
				}

				&.active + .projectDetailsTab {
					border-width: 1px 1px 1px 0;
				}

				& .label {
					padding-left: 6px;
				}

			}
		}

		& .generalProjectTab .icon {
			background:url(../img/projectheader.png) no-repeat 0px -186px;
		}

		& .preferencesProjectTab .icon {
			background:url(../img/projectheader.png) no-repeat 0px -62px;
		}
	}
}