/* --------------
	Header
   -------------- */
#projects h1.headerLine {
	cursor:pointer;
}

h1.headerLine span.projectIcons {
	float:right;
	margin-top:4px;
}



/* ----------------
	Task tree
   ---------------- */

	/* lost tasks */
.tasks .lostTasks {
	margin-top:20px;
	margin-bottom:30px;
}

.tasks .lostTasks .subtaskTrigger {
	background:none !important;
	height:1px;
}

.tasks .lostTasks h2 {
	margin-bottom:1px;
	padding:5px 5px 5px 20px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:normal;
	letter-spacing:0.1em;
	background-color:#e9e9e9;
}



/* --------------
	Project
   -------------- */
.statusPlanning .data .content {
	background-color:white;
}

	/* Details */
.project .projectstatus {
	position:absolute;
	top:0;
	height:27px;
	border-left-width:8px;
	border-left-style:solid;
}

	.project .description a {
		text-decoration:underline;
	}


	/* Assigned persons */
	.project table.assignedPersons th.name {
		width:200px;
	}
	.project table.assignedPersons th.company {
		width:240px;
	}
	.project table.assignedPersons th.role {
		width:154px;
	}


.formProject fieldset.basic {
	padding-top:15px;
}



/* ------------------------------------
	Project search modifications
   ------------------------------------ */
#todoyu-search .project .additionalStuff {
	display:none;
}



/* ------------------------------------
	Asset form
   ------------------------------------ */
.assetForm .fForm {
	padding:0;
	background:none;
}
.assetForm .fForm fieldset {
	margin-bottom:0;
}
.assetForm .fForm fieldset legend {
	border-color:#e3eace;
}



/* ----------------------
	Project Tabs
   ---------------------- */
#content .projectTabs .tabs {
	top:0;
	left:0;
	width:auto;
	margin:0 10px;
}

.project .projectTabs {
	margin-top:10px;
}

.project .projectTabs .tabs li {
	background-color:#edf1e0 !important;
}

.project .projectTabs .tabs li:hover,
.project .projectTabs .tabs li.active {
	background-color:#e3eace !important;
}

/* project tabs content */
.project .tabContent {
	background-color:#e3eace;
}

.project .tabContent .tab {
	margin:9px;
	border:1px solid #e1e1e1;
}

.project .tabContent .tabBlock {
	position:relative;
	background:#fff;
}
.project .tabContent .tab {
	padding:5px;
	background:#fff;
}
.project .tabContent .tabBlock .toggle {
	display:block;
	position:absolute;
	right:0;
	top:0;
	width:25px;
	height:30px;
	background:#d6dcc5 url(../../../../core/asset/img/toggle.png) no-repeat 0 -65px;
}