/* -----------------
	Submenu
   ----------------- */

	/* Projects */
#navi-main-list-project li.item a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -444px;
}

	/* Search */
#navi-main-list-search li.itemSearchTask a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px 6px;
}
#navi-main-list-search li.itemSearchProject a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -444px;
}



/* ------------------------
	Quick create wizard popUp styling
   ------------------------ */

#quickcreate.dialog.project div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -355px;
}

#quickcreate.dialog.task div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 2px;
}



/* -----------------------------------------------
	Quick create (headlet) mode selector entries
   ----------------------------------------------- */

#headlet-quickcreate-content li.itemProjectProject a {
	background:url(../img/icons.png) no-repeat 5px -388px;
}

#headlet-quickcreate-content li.itemProjectTask a {
	background:url(../img/icons.png) no-repeat 5px -58px;
}



/* -----------------
	Search
   ----------------- */
#headlet-quicksearch-content form.searchmodeTask a.mode,
#headlet-quicksearch-content li.searchmodeTask a {
	background:url(../img/icons.png) no-repeat 3px 3px !important;
}
#headlet-quicksearch-content form.searchmodeProject a.mode,
#headlet-quicksearch-content li.searchmodeProject a {
	background:url(../img/icons.png) no-repeat 3px -447px !important;
}

/* -----------------------------------------------
	Search Listing of Projects
   ----------------------------------------------- */
.projects {

}
.projectlist .headerLine .fulltitle{

}

.projectlist .headerLine .projectNumber{
	float:right;
	padding:0 10px;
}


.project h3 {
	background-color:transparent;
	border-bottom:1px dotted #aaa;
	clear:both;
	cursor:pointer;
	display:block;
	height:14px !important;
	padding:4px 0;

}
.project .expanded h3 {
	border-bottom: none;
}


.projects .project h3 .headLabel {
	border-left-style:solid;
	border-left-width:8px;
	display:block;
	float:left;
	height:auto !important;
	margin:-4px 0 -4px 0;
	min-height:14px;
	padding:4px 0 4px 17px;

}

.projects .project h3 .projectName{
	width:570px;
	float:left;
}

.projects .project h3 .projectNumber {
	padding:0 10px;
	float:right;
}

h1.extIconProject .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

/* --------------------------------------
	Task and project properties
   ------------------------------------- */  
.project .properties dt,
.task .properties dt {
	float:left;
	width:100px;
}
.project .properties dd,
.task .properties dd {
	float:left;
	width:180px;
}

#project-tabs {
	width:100%;
	overflow:hidden;
	margin-top:-20px;
}

	/* No project selected */
.noProjectSelected {
	padding:10px;
}

	.noProjectSelected .option {
		padding:10px;
		background-color:#EEE;
		border:1px solid #AAA;
		margin-bottom:10px;
		font-size:14px;
		cursor:pointer;
	}

	.noProjectSelected p.message {
		padding:10px;
	}



.innerBox {
	padding:10px 0 32px 0;
	/*background:url(../../../../core/assets/img/content/hr_ver.png) repeat-y 0 -167px;*/
}


div.taskDetails fieldset.left,
div.projectDetails fieldset.left,
div.projectEdit fieldset.left {
	width:60%;
	float:left;
	margin-bottom:25px;
}

div.taskDetails fieldset.left div.comment,
div.taskDetails div.padding,
div.projectDetails fieldset.left div.persons,
div.projectDetails fieldset.left #costctrl,
div.projectDetails fieldset.left #costctrl_total,
div.projectDetails fieldset.left div.invoices {
	padding:0 20px;
}

div.taskDetails fieldset.left div.comment .content {
		overflow:hidden;
	}

div.projectDetails fieldset.left div.invoices,
div.projectDetails fieldset.left #costctrl_total,
div.projectDetails fieldset.left #costctrl {
	margin-top:10px;
}

div.taskDetails fieldset.right,
div.projectDetails fieldset.right {
	width:39%;
	float:right;
	margin-bottom:25px;
}

/* --------------------------------------
	Project tree tabs
   ------------------------------------- */ 
#project-tabs li span.icon {
	background:url(../img/icons.png) no-repeat 0 -445px;
}

/* --------------------------------------
	Search tabs
   ------------------------------------- */  
#search-tab-task span.icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}

#search-tab-project span.icon {
	background:url(../img/icons.png) no-repeat 0 -350px;
}