/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconProject {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconProject .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* -----------------
	Sub menu
   ----------------- */
	/* Projects */
#navi-main-list-project li.item a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -446px;
}

	/* Search */
#navi-main-list-search li.itemSearchTask a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px 6px;
}
#navi-main-list-search li.itemSearchProject a {
	background-image:url(../img/icons.png) !important;
	background-repeat:no-repeat;
	background-position:6px -446px;
}



/* ------------------------
	Quick create wizard popUp styling
   ------------------------ */
#quickcreate.dialog.project div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 -355px;
}

#quickcreate.dialog.task div#quickcreate_top.dialog_title {
	padding:0 0 0 22px;
	background:url(../img/icons.png) no-repeat 0 2px;
}



/* -----------------------------------------------
	Quick create (headlet) mode selector entries
   ----------------------------------------------- */
#todoyuheadletquickcreate li.itemProjectProject a {
	background:url(../img/icons.png) no-repeat 5px -388px;
}

#todoyuheadletquickcreate li.itemProjectTask a {
	background:url(../img/icons.png) no-repeat 5px -58px;
}



/* -----------------
	Search
   ----------------- */
#todoyusearchheadletquicksearch form.searchmodeTask a.mode,
#todoyusearchheadletquicksearch-modes li.searchmodeTask a {
	background:url(../img/icons.png) no-repeat 3px 3px !important;
}
#todoyusearchheadletquicksearch form.searchmodeProject a.mode,
#todoyusearchheadletquicksearch-modes li.searchmodeProject a {
	background:url(../img/icons.png) no-repeat 3px -447px !important;
}

/* -----------------------------------------------
	Search Listing of Projects
   ----------------------------------------------- */
.projects {}
.projectlist .headerLine .fulltitle {}

.projectlist .headerLine .projectNumber {
	float:right;
	padding:0 10px;
}


.project h3 {
	background-color:transparent;
	border-bottom:1px dotted #aaa;
	clear:both;
	cursor:pointer;
	display:block;
	height:14px !important;
	padding:4px 0;

}
.project .expanded h3 {
	border-bottom:none;
}


.projects .project h3 .headLabel {
	border-left-style:solid;
	border-left-width:8px;
	display:block;
	float:left;
	height:auto !important;
	margin:-4px 0 -4px 0;
	min-height:14px;
	padding:4px 0 4px 17px;

}

.projects .project h3 .projectName{
	width:570px;
	float:left;
}

.projects .project h3 .projectNumber {
	padding:0 10px;
	float:right;
}



/* --------------------------------------
	Task and project properties
   ------------------------------------- */
.project .properties dt,
.task .properties dt {
	float:left;
	width:100px;
}
.project .properties dd,
.task .properties dd {
	float:left;
	width:180px;
}

.project .presets dt,
.task .presets dt {
	float:left;
	width:310px;
	margin-right:14px;
}
.project .presets dd,
.task .presets dd {
	float:left;
	width:180px;
}

.details .description a,
.tabContent .comment a {
	text-decoration:underline !important;
}
.details .description a:hover,
.tabContent .comment a:hover {
	background-color:#e2e2e2;
}

.data ul,
.task-comments ul {
	margin:0;
	padding:0 0 5px 14px;
}
.data ul li,
.task-comments ul li {
	padding-left:5px;
}
.data ol,
.task-comments ol {
	margin:0 0 0 5px;
	padding:0 0 5px 14px;
}
.data ul,
.task-comments ul {
	list-style:disc;
}
.data ul.ulList {
	padding:0;
}

.data ul.assignedPersons li span {
	padding-left:20px;
}



#project-tabs {
	width:100%;
	overflow:hidden;
	margin-top:-20px;
}

	/* No project selected */
.noProjectSelected {
	padding:10px;
}

	.noProjectSelected .option {
		padding:10px;
		background-color:#EEE;
		border:1px solid #AAA;
		margin-bottom:10px;
		font-size:14px;
		cursor:pointer;
	}

	.noProjectSelected p.message {
		padding:10px;
	}



/* --------------------------------------
	Project tree tabs
   ------------------------------------- */
#project-tabs li span.icon {
	background:url(../img/icons.png) no-repeat 0 -445px;
}



/* --------------------------------------
	Search tabs
   ------------------------------------- */
#search-tab-task span.icon {
	background:url(../img/icons.png) no-repeat 0 6px;
}

#search-tab-project span.icon {
	background:url(../img/icons.png) no-repeat 0 -350px;
}



/* --------------------------------------
	Tab content
   ------------------------------------- */
.task .tabContent .tabBlock.assetForm,
.task .tabContent .tabBlock.commentform {
	background:none;
}
	.task .tabContent .tabBlock.assetForm .fForm fieldset,
	.task .tabContent .tabBlock.commentform .fForm fieldset {
		margin:0;
		padding-top:10px;
	}
	.task .tabContent .tabBlock.assetForm .fForm fieldset legend,
	.task .tabContent .tabBlock.commentform .fForm fieldset legend {
		display:none;
	}



/* -------------------------------------
	Extconf and task preset set form
   ------------------------------------- */
fieldset.defaultsforlimited {
	margin-top:10px;
	border-top:1px dotted #e3e3e3;
	padding-top:10px;
}
