/* --------------------------------------
	Task and project properties 
   ------------------------------------- */
.project .properties dt,
.task .properties dt {
	float:left;
	width:100px;
}
.project .properties dd,
.task .properties dd {
	float:left;
	width:180px;
}

#project-tabs {
	width:100%;
	overflow:hidden;
	margin-top:-20px;
}

	/* No project selected */
.noProjectSelected {
	padding:10px;
}

	.noProjectSelected .option {
		padding:10px;
		background-color:#EEE;
		border:1px solid #AAA;
		margin-bottom:10px;
		font-size:14px;
		cursor:pointer;
	}
	
	.noProjectSelected p.message {
		padding:10px;
	}

	

.innerBox {
	padding:10px 0 32px 0;
	/*background:url(../../../../core/assets/img/content/hr_ver.png) repeat-y 0 -167px;*/
}


div.taskDetails fieldset.left,
div.projectDetails fieldset.left,
div.projectEdit fieldset.left {
	width:60%;
	float:left;
	margin-bottom:25px;
}

div.taskDetails fieldset.left div.comment,
div.taskDetails div.padding,
div.projectDetails fieldset.left div.persons,
div.projectDetails fieldset.left #costctrl,
div.projectDetails fieldset.left #costctrl_total,
div.projectDetails fieldset.left div.invoices {
	padding:0 20px;
}

div.taskDetails fieldset.left div.comment .content {
		overflow:hidden;
	}

div.projectDetails fieldset.left div.invoices,
div.projectDetails fieldset.left #costctrl_total,
div.projectDetails fieldset.left #costctrl {
	margin-top:10px;
}

div.taskDetails fieldset.right,
div.projectDetails fieldset.right {
	width:39%;
	float:right;
	margin-bottom:25px;
}


/* project colors */

.project-status-planning h1 a.projectTitle {
		/* purple */
	background:url(../../../../core/assets/img/sprite-content.png) no-repeat 0 -72px;
}

.project-status-inprogress h1 a.projectTitle {
		/* orange */
	background:url(../../../../core/assets/img/sprite-content.png) no-repeat 0 -152px;
}

.project-status-done h1 a.projectTitle {
		/* green */
	background:url(../../../../core/assets/img/sprite-content.png) no-repeat 0 -193px;
}

.project-status-cleared h1 a.projectTitle {
		/* grey*/
	background:url(../../../../core/assets/img/sprite-content.png) no-repeat 0 -234px;
}

.project-status-warranty h1 a.projectTitle {
		/* blue*/
	background:url(../../../../core/assets/img/sprite-content.png) no-repeat 0 -426px;
}

.project-status-planning div.projectdetails {
	border-left-color:purple;
}

.project-status-inprogress div.projectdetails {
		/* orange */
	border-left-color:#ffac00;
}

.project-status-done div.projectdetails {
		/* green */
	border-left-color:#77dc00;
}

.project-status-cleared div.projectdetails {
	border-left-color:grey;
}

.project-status-warranty div.projectdetails {
	border-left-color:blue;
}