#panelwidget-projecttree .icon {
	background:url('../img/panelwidget-projecttree.png') no-repeat 0 5px;
}

#panelwidget-projecttree-filter {
	overflow:hidden;
}

* html #panelwidget-projecttree-filter {
	overflow:visible;
	height:1%;
}

#panelwidget-projecttree-filter-form {
	background:url(../../../../core/assets/img/content/hr_hor.png) repeat-x scroll 0 bottom;
	padding-bottom:3px;
	margin-bottom:5px;
}

#panelwidget-projecttree-filter-form .fLabel {
	width:auto;
	float:none;
}

#panelwidget-projecttree-filter-form .fField {
	width:95%;
}

#panelwidget-projecttree-filter-form .fField input,
#panelwidget-projecttree-filter-form .fField select {
	width:90%;
	float:left;
}

#panelwidget-projecttree-filter-form .fField .remove {
	float:right;
	clear:none;
	background:url(../img/icons.png) no-repeat 0 -300px;
	width:16px;
	height:16px;
}



/* -------------------
	Project status
   ------------------- */

	/* planning: purple */
#panelwidget-projecttree ul.tree li.projectPlanning > a.info {
	border-left:3px #7f007f solid;
}

	/* progress: orange */
#panelwidget-projecttree ul.tree li.projectProgress > a.info {
	border-left:3px #ffac00 solid;
}

	/* warranty: blue */
#panelwidget-projecttree ul.tree li.projectWarranty > a.info {
	border-left:3px #2335e0 solid;
}

	/* done: green */
#panelwidget-projecttree ul.tree li.projectDone > a.info {
	border-left:3px #77dc00  solid;
}

	/* cleared: grey*/
#panelwidget-projecttree ul.tree li.projectCleared > a.info {
	border-left:3px grey solid;
}

ul.tree {
	position:relative;
}

ul.tree li {
	position:relative;
	background:url(../../../../core/assets/img/tree/tree_line_h.png) no-repeat 10px 9px;
}

ul.tree li.last {
	background:url(../../../../core/assets/img/tree/tree_last.png) no-repeat 8px 9px;
}

ul.tree li a {
	display:block;
}

ul.tree li a.info {
	margin-left:20px;
	padding-left:20px;
	line-height:18px;
	background-position:0 1px;
}

ul.tree a.navigate:hover {
	cursor:pointer;
}

ul.tree li a.navigateSub {
	position:absolute;
	top:0;
	left:0;
	width:16px;
	height:20px;
	background:url(../../../../core/assets/img/tree/tree_expand.png) no-repeat 50% 5px;
}

ul.tree li.expanded > a.navigateSub {
	background-image:url(../../../../core/assets/img/tree/tree_collapse.png);
}

ul.tree li.project a.info {
	background:url(../../../../core/assets/img/tree/sprite-tree.png) 3px -47px no-repeat;
}



/* -----------------
	Task status
   ----------------- */

#panelwidget-projecttree .planning a.info {
	background:url(../img/status.png) 2px 0 no-repeat;
}

#panelwidget-projecttree .open a.info {
	background:url(../img/status.png) 2px -30px no-repeat;
}

#panelwidget-projecttree .progress a.info {
	background:url(../img/status.png) 2px -60px no-repeat;
}

#panelwidget-projecttree .feedback a.info {
	background:url(../img/status.png) 2px -210px no-repeat;
}

#panelwidget-projecttree .confirm a.info {
	background:url(../img/status.png) 2px -90px no-repeat;
}

#panelwidget-projecttree .done a.info {
	background:url(../img/status.png) 2px -120px no-repeat;
}

#panelwidget-projecttree .accepted a.info {
	background:url(../img/status.png) 2px -270px no-repeat;
}

#panelwidget-projecttree .rejected a.info {
	background:url(../img/status.png) 2px -150px no-repeat;
}

#panelwidget-projecttree .cleared a.info {
	background:url(../img/status.png) 2px -180px no-repeat;
}



/* ---------------
	Subtasks
   -------------- */
ul.tree li ul.subtree {
	margin-left:19px;
	margin-bottom:5px;
	background:url(../../../../core/assets/img/tree/tree_line.png) repeat-y;
}

ul.tree li.last > ul {
	background:#fff url(../../../../core/assets/img/tree/tree_line.png) repeat-y 4px 0;
	/*margin-left:0;*/
	padding-left:4px;
}



/* -----------------
	OLD!
   ---------------- */

#tree_projects input.projectsNameFilterVisible {
	position:absolute;
	top:8px;
	left:100px;
	width:130px;
}

/* tree - old todoyu css!!! */

ul.tree a.navigateMain {
	margin-top:10px;
	padding-left:40px;
	line-height:20px;
	border:1px solid #ccc;
	border-width:1px 0;
	background-color:#E3E7EB;
	background-position:20px 50%;
	font-weight:bold;
}
ul.tree .expanded a.navigateMain {	background-color:#F7F7F7;}


ul.tree li#filterContainerLI {position:static;}
ul.tree #filter-0 {
	position:absolute;
	top:2px; right:40px; width:100px;
	padding:0;	margin:0;
}



/* ----------------
	Projects:
   ---------------- */

body.projects  ul.tree #filter-0 .field {
	width:50px;
}

.field select option:hover {
	background-color:#f5f5f5;
	cursor:pointer;
}

body.projects #filter-0,  body.projects #filter-1 {
	border:none;
}

body.projects #filter-0 .name,
body.projects #filter-0 .name,
body.projects #filter-0 .cancel,
body.projects #filter-1 .cancel  {
	display:none;
}

body.projects #filter-0 input { /*search in projects*/
	margin:5px 0 0 -20px;
	width:147px;
}

ul.tree li.project a.navigateMain {
	background:url(../../../../core/assets/img/tree/sprite-tree.png) 0 -25px no-repeat;
}

ul.tree li.customers a.navigateMain {
	background-image:url(../../../../core/assets/img/tree/tree_group.png);
}

.navigateFindUser {
	background-image:url(../../../../core/assets/img/user/find_user.png);
}

ul.tree li.customers a.info {
	background-image:url(../../../../core/assets/img/user/tree_user.png);
}

ul.tree li.status > ul > .expanded,
ul.tree li.customers > ul > .expanded {
	background-color:#A5F685;
}

ul.tree li.project a.info, ul.tree li.status a.info {
	background-image:url(../../../../core/assets/img/tree/sprite-tree.png);
	background-repeat:no-repeat;background-position:2px -47px;
}

ul.tree li.project .task-status-planing a.info, #tree_status_planing a.info {
	background:url(../../../../core/assets/img/sprite-taskstati.png) no-repeat 0 0;
}

ul.tree li.project .task-status-planing a.info:hover, #tree_status_planing a.info:hover {
	background:url(../../../../core/assets/img/sprite-taskstati.png) no-repeat 0 -180px;
}

ul.tree li.project .task-status-quicktask a.info,#tree_status_quicktask a.info {
	color:#00aeff;
}

ul.tree .treeLI ul li {
	display:none;
}

ul.tree li.expanded > ul > li,
ul.tree li.dragHover > ul > li {
	display:block;
}

ul.tree li.fixedproject a.info{
	background:url(../../../../core/assets/img/tree/sprite-tree.png) no-repeat 2px 2px;
}

ul.tree li.planning li a.info,
ul.tree li.inprogress li a.info,
ul.tree li.warranty li a.info,
ul.tree li.done li a.info,
ul.tree li.cleared li a.info {
	border-left:none;
}