#panelwidget-statusfilter h1 div.icon {
	background:url('../img/panelwidget-statusfilter.png') no-repeat 0 5px;
}

#panelwidget-statusfilter .content {
	padding: 2px 0 4px 3px;
}

#panelwidget-statusfilter ul {
	width: 250px;
}

#panelwidget-statusfilter li {
	background-color: #fff;
	cursor: pointer;
	padding: 2px 5px;
}

#panelwidget-statusfilter li.odd {
	background-color: #F3F4F8;
}

#panelwidget-statusfilter li label {
	cursor: pointer;
	padding-left:24px;
	margin-left:3px;
	background-image:url('../img/panelwidget-statusfilter.png');
}



/* -------------------
	Status icons
   ------------------ */

#panelwidget-statusfilter li.statusPlanning label {
	background-position:0 -30px;
}

#panelwidget-statusfilter li.statusOpen label {
	background-position:0 -120px;
}

#panelwidget-statusfilter li.statusProgress label {
	background-position:0 -150px;
}
#panelwidget-statusfilter li.statusConfirm label {
	background-position:0 -60px;
}

#panelwidget-statusfilter li.statusDone label {
	background-position:0 -180px;
}

#panelwidget-statusfilter li.statusAccepted label {
	background-position:0 -180px;
}

#panelwidget-statusfilter li.statusRejected label {
	background-position:0 -90px;
}

#panelwidget-statusfilter li.statusCleared label {
	background-position:0 -210px;
}

#panelwidget-statusfilter li.statusWarranty label {
	background-position:0 0;
}

#panelwidget-statusfilter li.statusCustomer label {
	background-position:0 0;
}