#quickProject {
	padding: 5px;
}

#panelwidget-quickproject button span.iconAddQuickproject {
	background-position: 8px -990px;
}

#panelwidget-quickproject h1 .title {
	background: transparent url('../img/icons.png') no-repeat 5px -415px;
}