#panelwidget-statusfilter h1 div.icon {
	background:url('../img/panelwidget-statusfilter.png') no-repeat 0 5px;
}

#panelwidget-statusfilter .content {
	padding: 2px 0 4px 3px;
}

#panelwidget-statusfilter ul {
	width: 250px;
}

#panelwidget-statusfilter li {
	background-color: #fff;
	cursor: pointer;
	padding: 2px 5px;
}

#panelwidget-statusfilter li.odd {
	background-color: #F3F4F8;
}

#panelwidget-statusfilter-list option {
	cursor: pointer;
	padding-left:22px;
	margin-left:3px;
	background-image:url('../img/panelwidget-statusfilter.png');
}



/* -------------------
	Status icons
   ------------------ */

#panelwidget-statusfilter .statusPlanning {
	background-position:2px -28px;
}

#panelwidget-statusfilter .statusOpen {
	background-position:2px -118px;
}

#panelwidget-statusfilter .statusProgress {
	background-position:2px -148px;
}
#panelwidget-statusfilter .statusConfirm {
	background-position:2px -58px;
}

#panelwidget-statusfilter .statusDone {
	background-position:2px -178px;
}

#panelwidget-statusfilter .statusAccepted {
	background-position:2px -178px;
}

#panelwidget-statusfilter .statusRejected {
	background-position:2px -88px;
}

#panelwidget-statusfilter .statusCleared {
	background-position:2px -208px;
}

#panelwidget-statusfilter .statusWarranty {
	background-position:2px -238px;
}

#panelwidget-statusfilter .statusCustomer {
	background-position:2px -2px;
}