/* --------------
	header
   -------------- */
#projects {

}

/*
.project h1 {
	border-left-width:8px;
	border-left-style:solid;
	padding-left:10px;
}
*/

#search-results h1 .toggler,
.project h1 .toggler {
	display:block;
	float:left;
	clear:none;
	width:15px;
	height:20px;
	background:url('../../../../core/assets/img/tree/icons.png') no-repeat 0px -81px;
}

#search-results h1 a.expanded,
.project h1 a.expanded {
	background-position:0 -51px !important;
}

#search-results h1 a.titlelabel,
.project h1 a.titlelabel {
	display: block;
	float:left;
	clear:none;
	width:550px;
	margin-top:-5px;
	padding:5px;
}

#search-results h1 span.first,
.project h1 span.first {
	padding-left:10px;
}

.project h1 span.additionalStuff {
	position: absolute;
	top: 7px;
	right: 0;
	margin-right: 0;
	padding-top:2px;
}

.project h1 span.additionalStuff a {
	display: block;
	float: left;
	margin-right: 10px;
	height: 16px;
	width: 16px;
	background-image:url(../img/icons.png);
	background-repeat:no-repeat;
}

.project h1 span.additionalStuff a.editProject {
	background-position: 0 -30px;
}

.project h1 span.additionalStuff a.addProject {
	background-position: 0 -390px;
}

.project h1 span.additionalStuff a.addTask {
	background-position: 0 -60px;
}

.project h1 span.additionalStuff a.addContainer {
	background-position: 0 -150px;
}


/* ----------------
	tasktree
   ---------------- */

/* lost tasks */
.tasks .lostTasks {
	margin-top:20px;
	margin-bottom:30px;
}

.tasks .lostTasks h2 {
	background-color:#DDD;
	padding:5px;
	padding-left:20px;
	font-size:14px;
}

/* edit */
.project .edit .formLabel {
	width:150px;
	text-align:left;
}

.project .edit .formField {
	width:520px;
}

.project .edit fieldset.top {

}

.project .edit fieldset.basic {
	float:left;
	width:450px;
}

.project .edit fieldset.basic .formLabel {
	width:80px;
}

.project .edit fieldset.basic .formField {
	width:360px;
}

.project .edit fieldset.dates {
	float:left;
	width:230px;
}

.project .edit fieldset.dates .formLabel {
	width:60px;
}

.project .edit fieldset.dates .formField {
	width:150px;
}

/* --------------
	project
   -------------- */

/* details */
#search-results .projectdetails,
.project .projectdetails {
	border-top-width: 5px;
	border-top-style: solid;
}

#search-results .projectdetails .description,
.project .projectdetails .description {
	margin-bottom:10px;
}

/* properties */
	#search-results .projectdetails .properties dt,
	.project .projectdetails .properties dt {
		float:left;
		width:90px;
	}

	#search-results .projectdetails .properties dd,
	.project .projectdetails .properties dd {
		float:left;
		padding-right:3px;
		width:210px;
	}

	/* assigned users */
	#search-results .projectdetails ul.assignedUsersList,
	.project .projectdetails ul.assignedUsersList {
		margin:0;
	}

	#search-results .projectdetails ul.assignedUsersList .name,
	.project .projectdetails ul.assignedUsersList .name {
		background:url('../../../user/assets/img/icons.png') no-repeat 0 4px;
		padding-left:20px;
	}

	#search-results .projectdetails ul.assignedUsersList .name,
	.project .projectdetails ul.assignedUsersList .name {
		width:150px;
	}

	#search-results .projectdetails ul.assignedUsersList .customer,
	.project .projectdetails ul.assignedUsersList .customer {
		width:150px;
	}

	#search-results .projectdetails ul.assignedUsersList .role,
	.project .projectdetails ul.assignedUsersList .role {
		width:150px;
	}

	/* description */
	.project .projectdetails .description {
	}


/* -------------
	title
   ------------- */
#taskList h1.projectTitle a.addComment {
	background: url(../../../../core/assets/img/sprite-icons.png) no-repeat 0 -16px;
}

#taskList h1.projectTitle span.projectprice {

}

#taskList h1.projectTitle span.additionalProjectStuff input {
	position: static;
}

/* General styles: move to top css file */
.type-dateinput input {
	width:60px;
}

.projectedit {
	float:left;
	width:100%;
}

.projectedit .main {
	float:left;
	width:70%;
}

.projectedit .main .formElement .formLabel {
	width:20%;
}

.projectedit .main .formElement .formField {
	width:78%;
}

.projectedit .dates {
	float:left;
	width:30%;
	background-color:#FF0000;
}

.projectedit .bottom {
	float:left;
	clear:both;
	width:100%;
}

.projectedit .fieldset-clear-bottom {
	clear:both;
}