/* --------------
	Header
   -------------- */
#projects h1.headerLine {
	cursor:pointer;
}

/* ----------------
	Tasktree
   ---------------- */

	/* lost tasks */
.tasks .lostTasks {
	margin-top:20px;
	margin-bottom:30px;
}

.tasks .lostTasks h2 {
	background-color:#DDD;
	padding:5px;
	padding-left:20px;
	font-size:14px;
}

	/* data edit */
.project .data {
	padding:5px 0;
}

.project .data .fLabel {
	width:30%;
}

.project .data .fField {
	width:70%;
}

.project .typeCheckbox .fLabel,
.project .typeCheckbox .fField {
	width:70%;
}

.project .tabContent .typeCheckbox .fLabel,
.project .tabContent .typeCheckbox .fField {
	width:60%;
}

.project .data .formField {
	width:520px;
}

.project .data fieldset.basic {
	float:left;
	padding:0 10px 0 24px;
	width:330px;
}

.project .data fieldset.data,
.project .data fieldset.persons {
	float:right;
	width:43%;
}

.project .data fieldset.basic {
	position:absolute;
}


.project .data fieldset.persons {
	margin-top:20px;
	min-height:165px;
}

.project .data fieldset.basic .formField {
	width:360px;
}

.project .data fieldset.dates {
	float:left;
	width:230px;
}

.project .data fieldset.dates .formLabel {
	width:60px;
}

.project .data fieldset.dates .formField {
	width:150px;
}

/* --------------
	Project
   -------------- */

	/* details */
.project .headerLine {
	background-position:0 -92px;
}

.project .projectstatus {
	position:absolute;
	height:27px;
	border-left-width:8px;
	border-left-style:solid;
}

.project .description {
	margin-bottom:10px;
}

		/* properties */
	.project .properties dt {
		float:left;
		width:110px;
	}

	.project .properties dd {
		float:left;
		width:190px;
	}

	/* assigned persons */
	.project ul.assignedPersons {
		margin:0;
	}

	.project ul.assignedPersons span.name {
		padding-left:20px;
	}

	.project ul.assignedPersons li.person span.name {
		background:url(../../../contact/assets/img/icons.png) no-repeat 1px 2px;
	}

	.project ul.assignedPersons .name {
		width:150px;
	}

	.project ul.assignedPersons .company {
		width:150px;
	}

	.project ul.assignedPersons .role {
		width:150px;
	}

	/* description */
	.project .description ul {
		list-style-position:inside;
		list-style-type:square;
	}

	/* project persons */
	
	.project .persons .fieldnamePersons {
		border-top:1px dotted #CCCCCC;
		padding:5px 0;
	}
	
	.project .persons .fieldnamePersons > .fField {
		width:100%;
	}
	
	.project .persons .fieldnamePersons > .fLabel {
		width:100%;
		position:static;
		text-align:left;
		margin-bottom:5px;
		padding-bottom:5px;
		border-bottom:1px dotted #cccccc;
	}
	
	.project .persons .fieldnamePersons > .fLabel label {
		font-weight:bold;
	}
	
	.project .persons .fieldnamePersons .foreignRecordsActionControll button {
	}
	
	.project .persons .fieldnamePersons .databaseRelation {
		width:100%;
	}
	
	.project .persons .fieldnamePersons .databaseRelation .fLabel {
		width:30%;
	}
	
	.project .persons .fieldnamePersons .databaseRelation .fField,
	.project .persons .fieldnamePersons .databaseRelation .typeCheckbox .fLabel {
		width:70%;
	}
	
/*
 * Project search modifications
 */
#todoyu-search .project .additionalStuff {
	display:none;
}


	/* General styles
	   @todo Move to top CSS file
	*/
.type-dateinput input {
	width:60px;
}

.projectedit {
	float:left;
	width:100%;
}

.projectedit .main {
	float:left;
	width:70%;
}

.projectedit .main .formElement .formLabel {
	width:20%;
}

.projectedit .main .formElement .formField {
	width:78%;
}

.projectedit .dates {
	float:left;
	width:30%;
	background-color:#FF0000;
}

.projectedit .bottom {
	float:left;
	clear:both;
	width:100%;
}

.projectedit .fieldset-clear-bottom {
	clear:both;
}