/* --------------
	Header
   -------------- */
#projects h1.headerLine {
	cursor:pointer;
}

h1.headerLine span.projectIcons {
	float:right;
	margin-top:4px;
}


/* ----------------
	Task tree
   ---------------- */

	/* lost tasks */
.tasks .lostTasks {
	margin-top:20px;
	margin-bottom:30px;
}

.tasks .lostTasks h2 {
	margin-bottom:1px;
	padding:5px;
	padding-left:20px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:normal;
	letter-spacing:0.1em;
	background-color:#e9e9e9;
}

/* --------------
	Project
   -------------- */
.project .infoBoxOuter {
	padding:7px;
	background-color:#eee;
}
.project .infoBoxOuter.edit form {
	margin:-7px;
}
.statusPlanning .data .content {
	background-color:white;
}

	/* Details */
.project .headerLine {
	background-position:0 -92px;
}

.project .projectstatus {
	position:absolute;
	height:27px;
	border-left-width:8px;
	border-left-style:solid;
}

.project .description {
	margin-bottom:10px;
}

	.project .description a {
		text-decoration:underline;	
	}

		/* Properties */
	.project .properties dt {
		float:left;
		width:110px;
	}

	.project .properties dd {
		float:left;
		width:190px;
	}

	/* Assigned persons */
	.project ul.assignedPersons {
		margin:0;
	} 
	.project ul.assignedPersons span.name {
		padding-left:20px;
	} 
	.project ul.assignedPersons li.person span.name {
		background:url(../../../contact/assets/img/icons.png) no-repeat 1px 2px;
	} 
	.project ul.assignedPersons .name {
		width:150px;
	} 
	.project ul.assignedPersons .company {
		width:150px;
	} 
	.project ul.assignedPersons .role {
		width:150px;
	}
	
/* ------------------------------------
	Project search modifications
   ------------------------------------ */
#todoyu-search .project .additionalStuff {
	display:none;
}

/* ------------------------------------
	task tab content
   ------------------------------------ */
.assetForm .fForm {
	padding:0;
	background:none;
}
.assetForm .fForm fieldset {
	margin-bottom:0;
}
.assetForm .fForm fieldset legend {
	border-color:#e3eace;
}