/* ------------
	Task
   ----------- */
.task { }

.task h3 {
	display:block;
	position:relative;
	height:auto !important;
	height:1px;
	padding:4px 0 4px 0;
	clear:both;
	cursor:pointer;
	border-bottom:1px dotted #aaa;
	background-color:transparent;
}
.tasks .expanded h3,
.tasks .subtasks .expanded h3 {
	background-color:#f2f2d2;
	border-bottom:none;
	font-weight:bold;
}
.tasks .running h3,
.tasks .subtasks .running h3 {
	background-color:#f3f3f3;
}

.tasks .subtasks h3 {
	background-color:transparent;
	font-weight:normal;
}



/* --------------------
	Task header
   -------------------- */
.task h3 a.expandable {
	display:block;
	position:absolute;
	top:0;
	left:10px;
	height:20px;
	width:15px;
	background:url(../../../../core/assets/img/tree-icons.png) no-repeat 1px -23px;
	z-index:1;
}

.task h3 a.expanded {
	height:20px;
	width:35px;
	background:url(../../../../core/assets/img/tree-icons.png) no-repeat 0 7px;
}

.task h3 .headLabel {
	display:inline-block;
	height:auto !important;
	height:1px;
	margin:-4px 0 -4px 0;
	padding:4px 0 4px 17px;
	border-left-width:8px;
	border-left-style:solid;
	min-height:14px;
}

.task h3 .headLabel span {
	display:inline-block;
}

.task h3 .headLabel .taskDate {
	width:45px;
}

.task h3 .headLabel .projectName {
	margin-left:5px;
}

/* begin of styles only for container element */
/*.task.container h3 .headLabel .taskDate {
	display:none;
}
*/

.task.container .details {
	border-bottom:1px dotted #AAAAAA;
}
/* end of styles only for container element */

.task h3 span.taskHeadExtras {
	display:inline-block;
	position:absolute;
	right:145px;
	width:100px;
	top:2px;
	text-align:right;
	overflow:hidden;
	border-right:1px dotted #CCC;
	padding:3px;
}

.task h3 span.taskHeadExtras span {
	float:right;
	cursor:default;
}

.task h3 span.taskNumber {
	display:inline-block;
	position:absolute;
	top:4px;
	right:93px;
	width:45px;
	cursor:text;
}

.task h3 .headLabel a.title {
	display:block;
	width:420px;
	padding:2px 0;
	margin-top:-2px;
}

.running h3 .headLabel span,
.running h3 span.taskNumber {
	font-weight:bold;
}



/* ----------------------
	Task Icons
   ---------------------- */
.task span.taskIcons {
	position:absolute;
	right:0;
	height:16px;
	width:75px;
	overflow:hidden;
	margin-top:-2px;
	padding:1px 3px;
	border-left:1px dotted #CCC;
}

.task span.taskIconsOverflow {
	background:url(../img/icons.png) no-repeat right -527px;
}

.task span.taskIconsOverflow:hover {
	width:auto;
	position:absolute;
	background-color:#FFF;
	z-index:1000;
	background:white;
}

.expanded span.taskIconsOverflow:hover {
	background:#e3eace;
}


.task span.taskIcons span {
	float:left;
	clear:none;
	width:14px;
	height:16px;
	margin:0;
	margin-left:3px;
}

.task span.taskIcons .taskcontainer {
	background:url(../img/icons.png) no-repeat 0 -87px;
}

.task span.taskIcons .isPublic {
	background:url(../img/icons.png) no-repeat 1px -206px;
}

.task span.taskIcons .notAcknowledged {
	width:10px;
	cursor:pointer;
	background:url(../img/icons.png) no-repeat 0 -267px;
}

.task span.taskIcons .dateover {
	width:14px;
	background:url(../img/icons.png) no-repeat 0 -328px;
}

.task span.taskIcons .locked {
	width:14px;
	background:url(../img/icons.png) no-repeat 0 -480px;
}



/* ------------------
	Task details
   ------------------ */
.task .details {
	border-left-width:1px;
	border-left-style:solid;
}

.task.container .details {
	border-color:#000 !important;
	border-bottom-color:#aaaaaa !important;
}

	.tasks .task .details .data {
		padding:5px 0;
	}

		/* Description */
	.tasks .task .details .left {
		float:left;
		width:330px;
		max-width:45%;
		padding:0 0 0 24px;
	}

	.tasks .task .details .description * {
		line-height:15px;
		white-space:normal;
	}

	.task .details .description a {
		text-decoration:underline !important;
	}
	.task .details .description a:hover {
		background-color:#e2e2e2;
	}

		/* properties */
	.tasks .task .details .right {
		float:right;
		width:290px;
	}

	.tasks .task .details fieldset.right {
		float:right;
		width:43%;
	}


	.tasks .task .details .properties dt {
		float:left;
		width:148px;
	}

	.tasks .task .details .properties dd {
		float:left;
		width:130px;
		margin-left:5px;
		margin-right:5px;
	}

		.task dd.unread {
			background:url(../img/icons.png) no-repeat 0 -268px;
			padding-left:12px;
			width:118px !important;
		}

		.task dd.acknowledged {
			background:url(../img/icons.png) no-repeat 0 -538px;
			padding-left:12px;
			width:118px !important;
		}

	.tasks .task .details .properties dt,
	.tasks .task .details .properties dd,
	.tasks .task .details .properties dd a {
		color:#666;
		line-height:15px;
	}

	div.task div.details div div.right dl dt.even,
	div.task div.details div div.right dl dd.even {
		background-color:#f9f9f9;
	}

	div.task div.details div div.right dl dt.sectionStart,
	div.task div.details div div.right dl dd.sectionStart {
		margin-top:11px;
	}

	.tasks .task .details .properties dt {
		clear:left;
	}

		/* task tabs */
	#content .taskTabs .tabs {
		top:0;
		left:0;
		width:auto;
		margin:0 10px;
	}

	.task .taskTabs {
		margin-top:10px;
	}

	.task .taskTabs .tabs li,
	.task .taskTabs .tabs li p span.lt {
		background-image:url(../../../../core/assets/img/rounded-box01.png) !important;
	}

	.task .taskTabs .tabs li {
		background-color:#edf1e0 !important;
	}

	.task .taskTabs .tabs li:hover,
	.task .taskTabs .tabs li.active {
		background-color:#e3eace !important;
	}

	/* task tabs content */
	.task .tabContent {
		background-color:#e3eace;
		border-bottom:1px dotted #aaa;
	}

	.task .tabContent .tab {
		margin:9px;
		border:1px solid #E9ECE0;
	}

	.task .tabContent .tabBlock {
		position:relative;
		background:#fff;
		padding:5px;
	}

	.task .tabContent .tabBlock .toggle {
		display:block;
		position:absolute;
		right:0;
		top:0;
		width:25px;
		height:30px;
		background:#D6DCC5 url(../../../../core/assets/img/toggle.png) no-repeat 0 -65px;
	}

#taskList .activeTabContent .taskOptionBlock {
	position:relative;
	padding:5px;
	margin:0 20px 5px 20px;
	border:1px solid #0065a6;
	background:#fff;
}

#taskList .activeTabContent {
	padding:10px 0 5px 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	background:#d5dee5;
}

#inlineEditTask .innerBox { /* resource planning inline task editor */
	margin-top:-20px;
	border-top:1px dotted #AAB1B7;
	width:892px;
	padding:0 12px 0 12px;
	background-color:#F7F9FA;
}



/* -----------------
	Task colors
   ---------------- */

	/* container */
.task.container h3 .headLabel {
	border-left-color:#000 !important;
}

	/* sub tasks */
.tasks .subtasks {
	padding-left:10px;
}

.task-inline-edit .type-date input {
	width:50px;
}

.taskDetails .comment p {
	padding:5px;
}

.taskcontainer {
	background:url('../img/icons.png') no-repeat -5px -75px;
}

.task-inline-edit .bottom {
	float:left;
	clear:both;
}

#taskList,
#tasks {
	z-index:1;
}

#taskList h1.headerProjTermine {
	margin-top:20px;
}



/* ----------------------------
	Additional task icons
   ---------------------------- */
.task-status-container h3 a,
.task-status-container div.taskdetails {
	border-left-color:#1E2022;
	background-color:#FBFBF4;
	/*background:url(../../../../core/assets/img/bgs/taskcontainer.png);*/
}