<div id="quickProject">
	<button type="button" class="button" onclick="Todoyu.Ext.project.Project.add()"><span class="hasIcon iconAddQuickproject">{Label panelwidget-quickproject.title}</span><span class="rgt"><!-- right --></span></button>
</div>