{Button label="panelwidget-quickproject.title" class="addQuickProject" id="panelwidget-quickproject-addproject" onclick="Todoyu.Ext.project.PanelWidget.QuickProject.addProject()"}
{Button label="panelwidget-quicktaskwizard.addQuicktask" class="addQuickTask" id="panelwidget-quickproject-addtask" onclick="Todoyu.Ext.project.PanelWidget.QuickProject.addTask()"}