<div id="taskList" class="projectTaskList">
	<div id="projects">
		<div id="project-0">

			<div class="noProjectSelected">
				<p class="message">
					{Label project.noproject.message.description}
					{if allowed('project','project:add')}
						<a href="javascript:void(0)" onclick="Todoyu.Headlets.QuickCreate.openTypePopup('project','project')">{Label project.noproject.message.createproject}</a>
					{else}
						{Label project.noproject.message.informcontact}
					{/if}
				</p>
			</div>

		</div>
	</div>
</div>