<h1 class="title headerLine contextmenuproject" id="project-{$id}-header">
	<span class="first">{restrict 'project' 'project:details'}<a id="project-{$id}-toggler" class="toggler{if $details} expanded{/if}" onclick="Todoyu.Ext.project.Project.toggleDetails({$id})" href="javascript:void(0)"></a>{/restrict}</span>
	<span class="title"><a id="project-{$id}-titlelabel" class="titleLabel" {restrict 'project' 'project:details'}onclick="Todoyu.Ext.project.Project.toggleDetails({$id})"{/restrict} href="javascript:void(0)" title="ID: {$id}">{htmlentities $fulltitle}</a></span>
	<span class="additionalStuff" id="project-{$id}-additionalStuff">
	{restrict 'project'  'project:edit'}
		<a onclick="Todoyu.Ext.project.Project.edit({$id})" class="editProject" title="{Label project.editproject}" href="javascript:void(0)"></a>
	{/restrict}
	{restrict 'project' 'project:addtask'}
		<a onclick="Todoyu.Ext.project.Project.addTask({$id})" class="addTask" title="{Label project.addtask}" href="javascript:void(0)"></a>
	{/restrict}
	{restrict 'project' 'project:addcontainer'}
		<a onclick="Todoyu.Ext.project.Project.addContainer({$id})" class="addContainer" title="{Label project.addcontainer}" href="javascript:void(0)"></a>
	{/restrict}
	</span>
	<span class="rgt"><!-- right --></span>
</h1>
<div class="projectstatus bcStatus{$status}"></div>

{restrict 'project' 'project:details'}
<div id="project-{$id}-details"{if ! $details} style="display:none"{/if}>
	{$details}
</div>
{/restrict}