<ul class="ulList assignedPersons">
	<li class="listItem listItemHeader">
		<span class="name">{Label contact.ext.person}</span>
		<span class="company">{Label contact.ext.company}</span>
		<span class="role">{Label project.ext.attr.persons.role}</span>
	</li>
	{foreach $persons person}
	<li class="listItem {cycle values="odd,even"} person">
		{personLabel idPrefix="project_assigned" idRecord=$person.id_project idPerson=$person.id class="name"}
		<span class="company">{$person.company[0].title}&nbsp;</span>
		<span class="role">{Label $person.rolelabel true}</span>
	</li>
	{/foreach}
</ul>