<div id="project-{$id}-data" class="data infoBoxOuter">

	<div class="infoBox properties">
		<h4>{Label project.ext.properties}</h4>
		<div class="content overflow">
			<dl>
			{foreach $properties info}
				<dt>{Label $info.label}</dt>
				<dd>
					{if $info.__key == 'company' && isCompanySeeAllowed($id_company)}<a href="javascript:void(0)" onclick="Todoyu.Ext.contact.Company.show({$id_company})">{/if}
					{$info.value}
					{if $info.__key == 'company' && isCompanySeeAllowed($id_company)}</a>{/if}
				</dd>
			{/foreach}
			</dl>
		</div>
	</div>

	<div class="infoBox">
		<h4>{Label project.ext.attr.persons}</h4>
		<div class="content overflow">{$assignedPersons}</div>
	</div>

	<div class="infoBox description">
		<h4>{Label core.global.description}</h4>
		<div class="content overflow">{substituteLinkableElements(cleanHtml($description))}</div>
	</div>

	{if isInternal()}
		<div class="infoBox presets">
			<h4>{Label project.ext.infobox.presets.title}</h4>
			<div class="content overflow">
			{foreach $presets preset}
				{$class= cycle(values="odd,even")}
				<div class="presetRow {$class}">
					<dt>{Label $preset.label}</dt>
					<dd>{$preset.value}</dd>
				</div>
			{/foreach}
			</div>
		</div>
	{/if}

	{* ---------- Dynamic added elements ----------- *}
	{if $dynamicElements}
		{foreach $dynamicElements element}
			<div class="{$element.class} {cycle values="odd,even"}">
				<h4>{$element.title}</h4>
				<div class="content overflow">{$element.content}</div>
			</div>
		{/foreach}
	{/if}

</div>