{$tabs}
<div id="projects">
	<div id="project-0">
		<p>{Label project.noprojectselected}</p>
		<ol>
			<li>{Label project.selectaprojectfromtree}</li>
			<li><a href="javascript:void(0)" onclick="Todoyu.Ext.project.Project.addFirstProject()">{Label project.createanewproject}</li>
		</ol>
	</div>
</div>