<div id="project-{$idProject}" class="project status{ucfirst $statusKey} projecttasktree">
	{$header}
	<div id="project-{$idProject}-tasks" class="tasks">
		{$tasktree}
		<div id="project-{$idProject}-losttasks" class="tasks">
			{$losttasks}
		</div>
	</div>
</div>