<div id="task-{$task.id}" class="task {$task.class} {if $isExpanded}expanded{/if}" >
	<h3 id="task-{$task.id}-header" class="contextmenutask" name="task-{$task.id}" onclick="Todoyu.Ext.project.Task.toggleDetails({$task.id})">
		<a id="task-{$task.id}-subtasks-trigger" onclick="Todoyu.Ext.project.TaskTree.toggleSubtasks(event, {$task.id})" href="javascript:void(0)" class="{if $hasSubtasks}expandable{/if} {if $areSubtasksVisible}expanded{/if}"></a>

		<span class="headLabel bcStatus{$task.status}" title="{$task.fulltitle}">
			<span class="taskDate date" title="{Label core.deadline}: {dateFormat $task.date_deadline D2M2Y2} / {Label core.start}: {dateFormat $task.date_start D2M2Y2}">
				{if $task.date_deadline > 0}
					{dateFormat $task.date_deadline D2M2Y2}
				{/if}
				&nbsp;
			</span>
			<span class="projectName" title="{Label task.task}: {htmlencode $task.title}  (ID: {$task.id})">
				{htmlencode(truncate($task.title 70 break=true))}
			</span>
		</span>

		<span class="taskHeadExtras">
			{foreach $taskHeaderExtras headerExtra}
				<span id="task-{$task.id}-headerextra-{$headerExtra.key}" class="{$headerExtra.key}">
					{$headerExtra.content}
				</span>
			{/foreach}
		</span>

		<span class="taskNumber" title="{Label portal.tasktree.header.tasknumber}: {$task.id_project}.{$task.tasknumber}">
			{$task.id_project}.{$task.tasknumber}
		</span>

		<span class="taskIcons{if sizeof($taskIcons) > 4} taskIconsOverflow{/if}">
			{foreach $taskIcons taskIcon}
				<span id="{$taskIcon.id}" class="{$taskIcon.class}" title="{Label $taskIcon.label true}" {if $taskIcon.onclick}onclick="{$taskIcon.onclick}"{/if}></span>
			{/foreach}
		</span>
	</h3>
	{$details}
</div>
{$subtasks}