<div id="task-{$idTask}-tabcontent" class="tabContent overflow">
	<div id="task-{$idTask}-tabcontent-{$tabKey}" class="tab {$tabKey}">
		{$tabHtml}
	</div>
	<a class="icon toTop" href="javascript:void(0)" onclick="javascript:$('task-{$idTask}').scrollToElement();" title="{Label task.link.to_task_top}">
		<span class="hidden">top</span>
	</a>
</div>