<div id="task-{$task.id}" class="task status{ucfirst $task.statuskey} {$task.class}">
	<h3 id="task-{$task.id}-header" class="contextmenutask" name="task-{$task.id}" onclick="Todoyu.Ext.project.Task.toggleDetails({$task.id})">

		<div class="headLabel bcStatus{$task.status}" title="{$task.fulltitle}">
			<div class="taskDate date" title="{Label core.deadline}: {date_format $task.date_deadline "%d.%m.%y"} / {Label core.start}: {date_format $task.date_start "%d.%m.%y"}">
				{date_format $task.date_deadline "%d.%m.%y"}&nbsp;
			</div>
			<div class="customer">
				{if $task.company.shortname}{$task.company.shortname}{else}{$task.company.title}{/if}&nbsp;
			</div>
			<div class="projectName" title="{Label project.project}: {$task.project.title} (ID: {$task.project.id}) / {Label task.task}: {$task.title}">
				{htmlencode $task.project.title|truncate:45} - {htmlencode $task.title|truncate:45}
			</div>
		</div>

		<div class="taskNumber" title="{Label project.taskno}: {$task.id_project}.{$task.tasknumber}">
			{$task.id_project}.{$task.tasknumber}
		</div>

		<div class="taskIcons">
			{foreach $taskIcons taskIcon}
				<span id="{$taskIcon.id}" class="{$taskIcon.class}" title="{Label $taskIcon.label true}" {if $taskIcon.onclick}onclick="{$taskIcon.onclick}"{/if}></span>
			{/foreach}
		</div>

		<div class="clear"><!-- --></div>
	</h3>
	{$details}
</div>