<!-- <ul class="tabs tasktabs" id="task-{$idTask}-tabheads">
{foreach $tabs tab}
	<li class="tabkey-{$tab.key}-{$idTask} {$tab.key} {$tab.class} {if $tab.key == $active}active{/if}" id="task-{$idTask}-tabhead-{$tab.key}">
		<span class="icon"></span>
		<span class="label">{$tab.label}</span>
	</li>
{/foreach}
</ul>
<script type="text/javascript">
Todoyu.Tabs.create('task-{$idTask}-tabheads', Todoyu.Ext.project.Task.Tab.onSelect.bind(Todoyu.Ext.project.Task.Tab));
</script>
-->