<div id="task-{$task.id}" class="task status{ucfirst $task.statuskey} {$task.class}">
	<h3 id="task-{$task.id}-header" class="contextmenutask" name="task-{$task.id}" onclick="Todoyu.Ext.project.Task.toggleDetails({$task.id})">

		<span class="headLabel bcStatus{$task.status}" title="{$task.fulltitle}">
			{if $task.is_container}
			<span class="taskDate date" title="">
				&nbsp;	
			{else}
			<span class="taskDate date" title="{Label core.deadline}: {dateFormat $task.date_deadline "D2M2Y2"} / {Label core.start}: {dateFormat $task.date_start "D2M2Y2"}">
				{dateFormat $task.date_deadline D2M2Y2}&nbsp;
			{/if}
			</span>
			<span class="customer">
				{if $task.company.shortname}{$task.company.shortname}{else}{$task.company.title}{/if}&nbsp;
			</span>
			<span class="projectName" title="{Label project.project}: {$task.project.title} (ID: {$task.project.id}) / {Label task.task}: {$task.title}">
				{htmlencode $task.project.title|truncate:45} - {htmlencode $task.title|truncate:45}
			</span>
		</span>

		<span class="taskNumber" title="{Label portal.tasktree.header.tasknumber}: {$task.id_project}.{$task.tasknumber}">
			{$task.id_project}.{$task.tasknumber}
		</span>
		<span class="taskIcons">
			{foreach $taskIcons taskIcon}
				<span id="{$taskIcon.id}" class="{$taskIcon.class}" title="{Label $taskIcon.label true}" {if $taskIcon.onclick}onclick="{$taskIcon.onclick}"{/if}></span>
			{/foreach}
		</span>
	</h3>
	{$details}
</div>